<div class="jumbotron lead">
  <p>
    Dhisha human development trust is a humanitarian development voluntary American and Indian based non-profit organization registered under 501(c)(3) under internal revenue code and also registered under Indian Charitable Trust Act 1950 established for the integrated development and upliftment of the poor and marginalized, orphans, minorities, urban poor, informal labour sector, downtrodden and under privileged in the society irrespective of case, creed and religion, and other backward classes inspired from and committed towards achieving the MILLENNIUM DEVELOPMENT GOALS set by the UNITED NATIONS ORGANISATION.
  </p>
  <p>
  It is secular, apolitical and non-profit organization that came into existence with a mission to all round development of society.
  </p>
</div>
