<div class="container-fluid backgroundSnow notofontclass_size">
<!-- Portfolio Item Heading -->
<!-- Portfolio Item Row -->
<div class="row">
  <h1><strong>&nbsp;Computers With Causes</strong></h1>

  <div class="col-md-3">
    <i class="fa fa-laptop bigIconSize15 darksalmoniconcolor wow rollIn" aria-hidden="true"></i>
  </div>

  <div class="col-md-9">
    <h3><strong>Who we help...!</strong></h3>
    <p>The best way to learn about giving through Computers with Causes is through your own personal experience.
    The Computers with Causes program Run by the Dhisha, a 501(c)3 Non-Profit Charitable Organization collects used working Laptop PC’s, Desktops, Mobile Workstations, Projectors, Laptop accessories for its initiative to make classroom’s digital, suitable for building computer labs in Govt Schools that cant afford such technology and help make an amazing difference to the students, teachers and families we support.</p>
    <p>There is a great need to extend and repurpose our technology. We help students, teachers, Households seeking vocational retraining and educating and other great causes. It’s an unforgettable experience that works to enhance and align the spirit of everyone in our communities. Whatever you create with your giving, goodwill, financial relief, education, progress, hope... we will all leave with a
    renewed outlook and motivation for doing the same.</p>
    <p>We are a place to learn about giving, and a place to discover how to make a meaningful difference in the lives of others. For the most impactful giving we offer transparency like no other. The opportunity to see, hear and fully understand the difference you have made in the lives of others.</p>
  </div>

</div>

<div class="row">

  <h3><strong>&nbsp;A few more examples of what we do with your computer donations and surplus new electronics include</strong></h3>
  <div class="col-md-12">
    <ul>
      <li>Govt/ Aided High Schools, Colleges.</li>
      <li>Local Libraries.</li>
      <li>Support for students, teachers, and parents.</li>
      <li>School Reform and Experimental Education.</li>
      <li>Welfare Organizations.</li>
    </ul>
  </div>
</div>

<div class="row">
<h2><strong>&nbsp;IRS Rules for Donating Computer Equipment</strong></h2>
<p>
  <ul>
    <li>Dhisha takes the guesswork out of the whole Computer Donation process by offering easy to understand and useful information.</li>
    <li>For individuals, the charitable deduction for contributions of technology equals the fair market value (retail used value in the current market place) of the donated property. The donation is tax deductible for the year in which our organization receives the equipment. Shipping costs are also tax deductible under applicable rules and regulations.</li>
    <li>You are eligible for a tax break if you donate computer of electronic gadget to a library, school, or a nonprofit program such as Dhisha. Business donors can deduct the un-depreciated value of the computer, and individuals can deduct the current market value of a computer. </li>
    <li>Example: A computer and related software with a purchase price of $3,000, valued at $1000 at time of contribution, receives a $1000 deduction on Schedule A. A written receipt must be received. The receipt that we provide will have your name on it, the name and identifying number of computers with causes, and the model and type of equipment donated.</li>
  </ul>
</p>
</div>
<div class="row">
  <p>
    If you may wish to support this cause, please submit your request
    <a href="/contact-me" class="btn btn-lg btn-primary wow lightSpeedIn"> by clicking here...!</a>
  </p>
</div>
  <p>
    <div class="row">
    </div>
  </p>
</div>
