<div class="jumbotron backgroundSnow notofontclass_size">
  <h2><strong>Our Address</strong></h2>

  <p>
    Dhisha, USA
  </p>
  <p>
    2710 Titania Pl,
  </p>
  <p>
    Simi Valley, CA, 93063
  </p>
  <p>
    Ph: 601-832-3341
  </p>
  <p>
    If you have any questions or want to reach us, please submit your query
    <a href="/contact-me" class="btn btn-lg btn-primary"> by clicking here...<i class="fa fa-question-circle" aria-hidden="true"></i></a>
  </p>
</div>
