<%= render 'carousel' %>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <i class="fa fa-book bigIconSize12 blueiconcolor" aria-hidden="true"></i>
      <h2>Education </h2>
      <p>The root cause for most of the social problems is poverty, which is due to lack of education and skill set required for obtaining suitable employment.</p>
      <p><a class="btn btn-default" href="/home/vision" role="button">Know more &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="fa fa-child bigIconSize12 greeniconcolor" aria-hidden="true"></i>
      <h2>Empowerment</h2>
      <p>Our mission is to contribute to the social and financial development of the neglected sector of our city. We are and will continue to work against all odds to assist these people in the best possible manner.</p>
      <p><a class="btn btn-default" href="/home/objectives" role="button">Know more &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="fa fa-heartbeat bigIconSize12 rediconcolor" aria-hidden="true"></i>
      <h2>Health</h2>
      <p> Dhisha aims at reducing the financial burden of health care on poor households and enhance their access to quality health care.</p>
      <p><a class="btn btn-default" href="/home/objectives" role="button">Know more &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Our Vision <span class="text-muted">...</span></h2>
      <p class="lead">The root cause for most of the social problems is poverty, which is due to lack of education and skill set required
        for obtaining suitable employment. Dhisha aims at eradicating poverty by providing skill development training (using skill India initiative
        by Govt of India effectively) to unemployed and bringing economically weaker section to mainstream by the power of quality education, skill training
        and awareness.</p>
    </div>
    <div class="col-md-5">
      <i class="fa fa-bullseye bigIconSize20 blueiconcolor" aria-hidden="true"></i>
      <!-- <img class="featurette-image img-responsive center-block" src="/images/blue.png" alt="Generic placeholder image"> -->
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Our Mission <span class="text-muted">...</span></h2>
      <p class="lead">Our mission is to contribute to the social and financial development of the neglected sector of our city. We are and will continue to work against all odds to assist these people in the best possible manner.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      <i class="fa fa-bullhorn bigIconSize20 orangeiconcolor" aria-hidden="true"></i>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, more of what we want to do <span class="text-muted">...</span></h2>
      <p class="lead">Equity in access to health care services and the related financial burden on households, hence, has been one of the major concerns of Indian health system. The challenges are related to reducing the financial burden of health care on poor households and enhance their access to quality health care.</p>
    </div>
    <div class="col-md-5">
      <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      <i class="fa fa-gift bigIconSize20 greeniconcolor" aria-hidden="true"></i>
    </div>
  </div>

  <!-- /END THE FEATURETTES -->
</div>
