<div class="jumbotron backgroundSnow notofontclass_size">
  <h2><strong>Dhisha's Objectives</strong></h2>
  <p class="lead">
    <strong>Our key focus will be on the following projects:</strong>
  <ul class="lead">
    <li>To promote education and health.</li>
    <li>Women development, public awareness and human rights awareness programs.</li>
    <li>Children health, education.</li>
    <li>Youth cultural and development schemes.</li>
    <li>Medical camps like eye screening and general health check-up camps.</li>
    <li>Socio-economical-educational and development campus.</li>
    <li>To promote economic development activities for the benefit of backward sections amongst the minorities, preference being given to the occupational groups and women.</li>
    <li>To establish and run medical camps for providing maximum medical assistance to needy and poor.</li>
    <li>To provide vocational training on candle making, tailoring and embroidery, handicrafts, beauty courses, computer education, etc. using skill India initiative.</li>
    <li>To provide value based education for all.</li>
    <li>To launch awareness programs, so as to educate the poor about maintaining good health and nutrition, preventing disability and finding employment.</li>
    <li>To provide employment opportunities to the disabled and the needy.</li>
    <li>To facilitate and promote awareness among the people to donate various organs of human body. Within preview of law.</li>
    <li>To provide cloths and food to needy and poor people.</li>
    <li>To eradicate the sufferings of the down trodden, marginalized and the weaker sections of society.</li>
    <li>Facilitating the developments of livelihood opportunities of artisans.</li>
    <li>To promote self-employment and other ventures for the benefits of weaker sections.</li>
    <li>Strengthen grass root level capacities by building confidence, problem solving capacity, resilience and skills among local people.</li>
    <li>To ensure people's involvement in developing a society wherein peace, justice and equality prevail.</li>
    <li>To ensure gender equality and freedom from discrimination.</li>
  </ul>
  </p>
</div>
