<div class="jumbotron notofontclass">
    <p class="lead">The root cause for most of the social problems is poverty, which is due to lack of education and skill set required for obtaining suitable employment. Dhisha aims at eradicating poverty by providing skill development training (using skill India initiative by Govt of India effectively) to unemployed and bringing economically weaker section to mainstream by the power of quality education, skill training and awareness.</p>

    <p class="lead">It also initiates efforts in various interconnected socio-economic fields such as health, women empowerment, and social justice. The focus is in on 'convenience, reliability, continuity and flexible range of services for the poor people in our society.</p>

    <p class="lead">Increasing cost of health care in India restricts many poor households to seek health care on the one hand and on the other causes severe disruption in the living status of those who go for purchasing even the bare essential health care. Equity in access to health care services and the related financial burden on households, hence, has been one of the major concerns of Indian health system. The challenges are related to reducing the financial burden of health care on poor households and enhance their access to quality health care. Our mission is to contribute to the social and financial development of the neglected sector of our city. We are and will continue to work against all odds to assist these people in the best possible manner.</p>
</div>
