/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require social-share-button
 */

.navbar-brand {
     position: relative;
     background: url(/dhisha_logo.png);
     width: 60px;
     left: 15px;
     background-size: contain;
 }

.oswald {
   font-family: 'Oswald', sans-serif;
 }

body {
  background-color: #eee;
}

.navbar-default {
  background-color: #365899;
  border-color: #e9ebee;
}
.navbar-default .navbar-brand {
  color: #f1f5fb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #111010;
}
.navbar-default .navbar-text {
  color: #f1f5fb;
}
.navbar-default .navbar-nav > li > a {
  color: #f1f5fb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #111010;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #111010;
  background-color: #e9ebee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #111010;
  background-color: #e9ebee;
}
.navbar-default .navbar-toggle {
  border-color: #e9ebee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e9ebee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f1f5fb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f1f5fb;
}
.navbar-default .navbar-link {
  color: #f1f5fb;
}
.navbar-default .navbar-link:hover {
  color: #111010;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f1f5fb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #111010;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #111010;
    background-color: #e9ebee;
  }
}

.rediconcolor {
  color: #e80417;
}

.greeniconcolor {
  color: green;
}

.blueiconcolor {
  color: blue;
}

.orangeiconcolor {
  color: orange;
}

.bigIconSize12 {
  font-size: 12em !important;
}

.bigIconSize20 {
  font-size: 20em !important;
}

.font-color-blue {
  color: blue;
}

.font-color-white {
  color: white;
}

.font-color-black {
  color: black;
}

.font-color-magenta {
  color: magenta;
}

.font-color-green {
  color: green;
}

.font-color-yellow {
  color: yellow;
}

.font-color-violet {
  color: violet;
}

.font-color-grey {
  color: grey;
}

.font-color-red {
  color: red;
}

.font-color-indigo {
  color: indigo;
}

.font-color-orange {
  color: orange;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.topmiddle {
  position:absolute;
  top:0;
  right:50%;
 }

 .carousel-caption {
     top: 0;
     bottom: auto;
 }
