<div id="email-wrapper">
<div id="header">
<table>
<tbody>
<tr>
<td width="40px"><%= email_image_tag "favicon.ico", :class => "logo" %></td>
<td>
<h2>Welcome to Dhisha, <%= @resource.email %>!</h2>
</td>
</tr>
</tbody>
</table>
</div>
<div id="body">
<div>
  Before you can access your account, we request you to kindly confirm it by clicking on the below link.
</div>
<div>
  <h3>
    <%= link_to t('.action', default: 'Confirm my account'),
             confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %>
  </h3>
</div>
<div>
  <p>Please note that by confirming your account, you agree to grant us permission to contact you occasionally via emails.</p>
  <p>We shall not spam your inbox.</p>

  <p>After confirmation, please update your profile details in our website after logging in. </p>

</div>

<div>
    <p>Thanks,</p>
    <p>Dhisha human development trust.</p>
</div>
</div>
</div>
