<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="EFT6JCT3T2HRW">
  <button type="submit" class="btn btn-default">
    <i class="fa fa-cc-paypal"></i> Donate via PayPal
  </button>
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
